<div class="container-fluid p-0 m-0 w-100" style="border-bottom: 1px solid #D9D9D9;box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);background-color: #fff;">
    <div class="container-xl d-flex justify-content-between align-items-center p-2">
        <div class="hstack gap-3 w-100">
            <div class="">
                <img src="../../../assets/logo/logo.png" class="img-fluid" alt="logo" width="150">
            </div>
            <div class="ms-auto">
                <ul class="nav">
                    <li class="nav-item mx-3"> 
                        <a class="icon-link" href="#">
                            <i data-eva="home-outline" data-eva-fill="#007CBC" data-eva-animation="pulse" data-eva-height="24" data-eva-width="24"></i>
                        </a>
                    </li>
                    <li class="nav-item mx-3">
                        <a class="icon-link" href="#">
                            <i data-eva="people-outline" data-eva-fill="#62798D" data-eva-animation="zoom" data-eva-height="24" data-eva-width="24"></i>
                        </a>
                    </li>
                    <li class="nav-item mx-3">
                        <a class="icon-link" href="#">
                            <i data-eva="bell-outline" data-eva-fill="#62798D" data-eva-animation="shake" data-eva-height="24" data-eva-width="24"></i>
                        </a>
                    </li>
                    <li class="nav-item mx-3">
                        <a class="icon-link" href="#">
                        <i data-eva="grid-outline" data-eva-fill="#62798D" data-eva-animation="flip" data-eva-height="24" data-eva-width="24"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="">
                <small class="mx-2">Sivamanikandan G</small>
                <img src="../../../assets/icons/user.jpg" width="30" alt="user_icon" style="border-radius: 50%;">
            </div>
        </div>
    </div>
</div>