<div class="container-fluid w-100">
    <div class="container mt-3 d-flex justify-content-start">
        <div class="card text-center" style="width: 20%; border-radius: 10px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);">
          
          <div class="card-header p-0" style="border-top-left-radius: 10px; border-top-right-radius: 10px;">
            <img src="https://via.placeholder.com/300x80?text=Background" alt="Background" class="img-fluid rounded-top">
          </div>
          
          <div class="card-body">
            <img src="https://via.placeholder.com/80" alt="Profile" class="rounded-circle img-thumbnail mb-3" style="width: 60px; height: 60px; margin-top: -45px; border: 0px solid white;">
            <h6 class="card-title mb-1">Sivamanikandan G</h6>
            <small class="text-muted mb-3">Front-end developer</small>
            <hr>
            <p style="font-size: 0.7em;">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vero nulla sit ut unde ea. Nisi maiores quisquam molestias porro, repellendus totam aperiam saepe consequuntur vitae accusamus eum deserunt obcaecati fugit.</p>
          </div>
        </div>
      </div>
</div>